<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
<h1 class="my-4">예약조회</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">병원명</th>
      <th scope="col">백신명</th>
      <th scope="col">예약일자</th>
      <th scope="col">예약시간</th>
      <th scope="col">예약상태</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td th:text="${reserveResult.hospitalName}"></td>
      <td th:text="${reserveResult.vaccineName}"></td>
      <td th:text="${reserveResult.reserveDate}"></td>
      <td th:text="${reserveResult.reserveTime}"></td>
      <td th:text="${reserveResult.getReserveStatus().name()}"></td>
      <td>
        <button class="btn btn-danger btn-sm">
          <a th:href="@{/reserve/{reserveItemId}/cancel (reserveItemId=${reserveResult.reserveItemId})}">
            예약취소
          </a>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>