<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>회원가입</title>
  <link rel="icon" href="/images/home.png">
  <link rel="stylesheet" th:href="@{/css/signup.css}">
  <style>
        .field-error{
            color:red;
            font-weight:bold;
        }
    </style>
</head>

<body>

<div class="sign">
  <h1 class="hS">회원가입</h1>

  <form th:action th:object="${userAddFormDto}" method="post">
    <div class="info">
      <label for="email"><b>이메일</b></label>
      <input type="email" th:field="*{email}" id="email" th:readonly="${userAddFormDto.email!=null}">
    </div>

    <div class="info">
      <label for="name"><b>이름</b></label>
      <input type="text" th:field="*{name}" id="name" th:readonly="${userAddFormDto.name!=null}">
    </div>
    <input type="hidden" th:field="*{password}" th:if="${userAddFormDto.password!=null}">

    <div class="info gender">
      <b>성별</b>
      <div th:each="gender : ${genders}" >
          <input type="radio" th:field="*{gender}" th:value="${gender.name()}" >
        <label th:for="${#ids.prev('gender')}" th:text="${gender.description}">
        </label>
      </div>
      <div class="field-error" th:errors="*{gender}">
      </div>
    </div>

    <div class="info birth">
      <label for="age"><b>나이</b></label>
      <div>
        <input type="number" placeholder="나이를 입력하세요." th:field="*{age}" id="age" >
      </div>
      <div class="field-error" th:errors="*{age}">
      </div>
    </div>

    <div class="info">
      <label for="address"><b>주소</b></label>
      <input type="text" th:field="*{address}" id="address" >
      <div class="field-error" th:errors="*{address}">
      </div>
    </div>

    <div class="info">
      <label for="detailAddress"><b>상세주소</b></label>
      <input type="text" th:field="*{detailAddress}" id="detailAddress" >
      <div class="field-error" th:errors="*{detailAddress}">
      </div>
    </div>

    <input type="submit" value="가입하기">
  </form>
</div>

</body>
</html>