@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* basic */
*{
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  outline: none;
}
body {
  font-size: 14px;
  background-color: #f5f6f7;
  line-height: 1.5em;
  color:#222;
  font-weight: 300;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222;
}
input, select {
  cursor: pointer;
}

/* register 폼 CSS*/
.register {
  width: 460px;
  margin: auto;
  margin-bottom: 40px;
}
.register .hR{
  color: #2db400;
  text-align: center;
}
.info {
  margin : 5px 0;
}
.info b {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

/* 날짜 */
.info.date div {
  display: flex;
  gap:15px;
}
.info.date input {
  flex: 1;
  background: url(/images/date_1.PNG) no-repeat center right 10px;
}
.info.date div b {
  display: inline-block;
  line-height: 21px;
  margin-top: 15px;
}

/* 백신 종류 */
.info.kind b {
  margin-bottom:10px;
}

.info.kind div {
  display: flex;
  margin-bottom: 10px;
}
.info.kind div label
.info.kind div input {
  display: inline-block;
}
.info.kind div label {
  flex: 1;
  text-align: center;
}
.info.kind div input {
  flex: 2;
}

/* .register input { */
.register input:not(input[type=number]){
  border: 1px solid #dadada;
  width: 100%;
  padding: 15px;
  margin-bottom: 5px;
}
.register input[type=submit] {
  color: #fff;
  background-color: skyblue;
  margin-top: 20px;
}

.register input:not(input[type=number]):focus {
  border: 1px solid skyblue;
} 

/* select 화살표 없애기 */
select {
  -webkit-appearance:none; 
  -moz-appearance:none; 
  appearance:none;
  background: #eee url(/images/select.png) no-repeat center right 20px;
}
select::-ms-expand{
  display:none;
}

/* number 타입 숫자 올리는 화살표 x */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=number]{
  -moz-appearance: textfield;
}
