@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* basic */
*{
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  outline: none;
}
body {
  font-size: 14px;
  background-color: #f5f6f7;
  line-height: 1.5em;
  color:#222;
  font-weight: 300;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222;
}
input, select {
  cursor: pointer;
}

/* signup 폼 CSS*/
.sign {
  width: 460px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
.sign .hS{
  color: dodgerblue;
  text-align: center;
}
.info {
  margin : 5px 0;
}
.info b {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

/* .sign input, select { */
  .sign input,
  .sign select{
    border: 1px solid #dadada;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
  }
  .sign input[type=submit] {
    color: #fff;
    background-color: dodgerblue;
    margin-top: 20px;
  }
  
  .sign input:focus,
  .sign select:focus {
    border: 1px solid dodgerblue;
  } 

  /* Checked radio button(성별) */
.info.gender input[name=gender] {
  display: none;
}
.info.gender label {
  cursor: pointer;
  margin: 5px;
}
.info.gender label em {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  transform: translateY(3px);
  background: url(/Front/images/icon-radio.png) no-repeat;
  background-position: left;
}
.info.gender input[name=gender]:checked + em {
  background-position: right;
}

/* 생년월일 */
.info.birth div {
  display: flex;
  gap: 10px;
}

/* select & number 화살표 없애기 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(/Front/images/select.png) no-repeat center right 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=number]{
  -moz-appearance: textfield;
}